{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}

{% block page_product_detail_configurator_option_radio_label %}
    <label class="product-detail-configurator-option-label{% if isCombinableCls %} {{ isCombinableCls }}{% endif %} is-display-{{ displayType }}"
        {% if displayType == 'color' and option.colorHexCode %}
            style="background-color: {{ option.colorHexCode }}"
        {% endif %}
           title="{{ option.translated.name }}"
           for="{{ optionIdentifier }}">

        {% if displayType == 'media' and media %}
            <img src="{{ media|sw_encode_media_url }}"
                 class="product-detail-configurator-option-image"
                 alt="{{ option.translated.name }}"/>
        {% elseif displayType == 'text' or
            (displayType == 'size') or
            (displayType == 'media' and not media) or
            (displayType == 'color' and not option.colorHexCode) %}
            {{ option.translated.name }}
        {% endif %}
    </label>
{% endblock %}
